<!DOCTYPE html>
<html>
<title>Home</title>
<body >

<h1 align="center">Sri Venkataraman Temple Karkala </h1> &nbsp; 
<button align = "center" onclick="window.location.href='/register';">
<h3 >Register</h3>
<button align = "Center" onclick="window.location.href='/update';"> 
<h3 align = "Center">Update user</h3>
<button align = "Center" onclick="window.location.href='/delete';"> 
<h3 align = "Center">Remove user</h3>
<button align = "Center" onclick="window.location.href='/list';"> 
<h3 align = "Center">User Details</h3> 
<button align = "Center" onclick="window.location.href='/statistic';"> 
<h3 align = "Center">Statistics</h3> 
<button align = "center" onclick="window.location.href='/contact';"> 
<h3 >Contact</h3></p>
</button> </p>
<img src="static\image\svt.jpg" width='350' height='300'>
<img src="static\image\svt1.jpg" width='350' height='300'><p>
Karkala Shree Venkataramana Temple, an ancient temple having a history of 550 years, belongs to Gauda Saraswat Brahmin Samaj. 
For various reasons Gauda Saraswat Brahmins migrated from Goa, their ancestral land for centuries, and settled in the location of Karkala. 
They erected a small temple, enshrined Lord Shree Venkataramana in it and worshiped him for the betterment of their religious, cultural and social welfare.</p>

</body>
</html>