<!DOCTYPE html>
<html>
<title>User Registration</title>
<body style="background-color: orange;">
<h1 align="center">User Registration</h1>

<form align ="left" action="/register" method='POST'>
  <label  for="name">Name:</label>
  <input type="text" id="name" name="name" value=""> <p>
  <label form="age">Age:</label> &nbsp;
  <input type="text" id="age" name="age" value=""> <p>
  <label form="gender">Gender:</label>&nbsp;
  <input type="radio" id="male" name="gender" value="Male">
  <label for="male">Male</label>&nbsp;
  <input type="radio" id="female" name="gender" value="Female">
  <label for="female">Female</label>&nbsp;
  <input type="radio" id="other" name="gender" value="Other"> &nbsp;
  <label for="other">Other </label><p>
  <label for="city">City:</label>
  <select name="city" id="city">
	<option value="Karkala">Karkala</option>
    <option value="Mangalore">Mangalore</option>
    <option value="Mumbai">Mumbai</option>
    <option value="Bangalore">Bangalore</option>
    <option value="Udupi">Udupi</option>
	<option value="Kundapura">Kundapura</option>
  </select> <br> <br>
    <input type="submit" value="Register">&nbsp;
	<input type="reset">
  </form>
</body>
</html>