<!DOCTYPE html>
<html>
<title>Statistics</title>
<body style="background-color:white;">
<h1 align="center">Statistics</h1>

<form align ="left" action="/statistic" method='POST'>
  <label for="plot">Choose a plot(Graph):</label>
  <select name="plot" id="city">
	<option value="Line Graph">Line Graph</option>
    <option value="Bar Graph">Bar Graph</option>
    <option value="Histogram">Histogram</option>
    <option value="Scatter Plot">Scatter plot</option>
    <option value="Pie Chart">Pie Chart</option>
   </select> <br> <br>
    <input type="submit" name="showall" value="Show all graph">
  </select> <br> <br>
    <input type="submit" value="Submit">
  </form>
</body>
</html>