<!DOCTYPE html>
<html>
<title>Statistics</title>
<body style="background-color:white;">
<h1 align="center">Statistics</h1>

<form align ="left" action="/statistic" method='POST'>
  <label for="plot">Choose a plot(Graph):</label>
  <select name="plot" id="city">
	<h3><option value="Line Graph">Line Graph</option></h3>
    <h3><option value="Bar Graph">Bar Graph</option></h3>
    <h3><option value="Histogram">Histogram</option></h3>
    <h3><option value="Scatter Plot">Scatter plot</option></h3>
    <h3><option value="Pie Chart">Pie Chart</option></h3>
	<h3><option value="Download">Download all plots</option></h3>
  </select> &nbsp;
    <h3><input type="submit" value="Submit"></h3>
  </form> &nbsp;
</body>
</html>