<!DOCTYPE html>
                <html>
                <title>Sucess !!!!!</title>
                <body style="background-color: green;">
                <h1 align="center">Registration Completed</h1>
                <h2> You have registered with following details : <br />
                Index Number: 2 <br />
                First Name: Radha <br />
                Second Name: Nayak <br />
                Age: 60 <br />
                Gender: Female <br />
                City: Karkala </h2>
                <button  onclick="window.location.href='/register';">
                <h3 align = "center">OK</h3>
                </html>