<!DOCTYPE html>  
<html>  
<head>  
<title>Plot Image</title>  
</head>  
<body>  
<h1 align="center"> Statistical Image(Scatter Plot) </h1> &nbsp; 
<h3>The scatter graph shows the Age of Male and Female based on their Cities.</h3>  
<img src=d:\vwebapp\source\static\images\04_scatter_plot.png width='500' height='350'> <p>

<button align = "Center" onclick="window.location.href='/list';"> 
<h4 align = "Center">User Details</h3> 
<button align = "center" onclick="window.location.href='/statistic';"> 
<h4 align = "Center">Statistic</h3></p>

</body>  
</html>  