<!DOCTYPE html>
<html>
<title>Updation</title>
<body style="background-color: Red;">
<h1 align="center">User Updation</h1>

<form align ="left" action="/update" method='POST'>
  <label for="srno">Registration Number:</label>
  <input type="text" id="srno" name="srno" value=""> <p>
  <label for="first">First Name:</label>
  <input type="text" id="first" name="first" value=""> &nbsp;
  <label for="second">Second Name:</label>
  <input type="text" id="second" name="second" value=""> <p>
  <label form="age">Age:</label> &nbsp;
  <input type="text" id="age" name="age" value=""> &nbsp;
  <label form="gender">Gender:</label>&nbsp;
  <input type="radio" id="male" name="gender" value="Male">
  <label for="male">Male</label>&nbsp;
  <input type="radio" id="female" name="gender" value="Female">
  <label for="female">Female</label>&nbsp;
  <input type="radio" id="other" name="gender" value="Other"> &nbsp;
  <label for="other">Other </label><p>
  <label for="city">City:</label>
  <select name="city" id="city">
	<option value="Karkala">Karkala</option>
    <option value="Mangalore">Mangalore</option>
    <option value="Mumbai">Mumbai</option>
    <option value="Bangalore">Bangalore</option>
    <option value="Udupi">Udupi</option>
	<option value="Kundapura">Kundapura</option>
  </select> <br> <br>
    <input type="submit" value="Update">&nbsp;
  </form>
</body>
</html>